
#hero{
    height: 40rem;
    background-image: url("../images/hero_background.png") ;
    background-size: 100vw;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    filter: brightness(90%); 
}

#hero>div{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color: rgba(240, 248, 255, 0.082);
    padding: 50px;
    height: 18rem;
}

#hero>div>h1{
    font-size: 50px;
    color:rgba(0, 0, 0, 0.87);
}

#hero>div>p{
    font-size: 30px;
    padding-left: 25%;
    padding-right: 25%;
    color:rgba(0, 0, 0, 0.836);
}